@font-face {
  font-family: RobotoMono-Regular;
  src: url(RobotoMono-Regular.ttf);
}

@font-face {
  font-family: RobotoMono-SemiBold;
  src: url(RobotoMono-SemiBold.ttf);
}

body {
  margin: 0;
  padding: 15px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: RobotoMono-Regular, andale mono, monospace;
  text-align: center;

}

a {
  all: unset;
  font-size: 4em;
  text-transform: uppercase;
  font-family: RobotoMono-SemiBold, andale mono, monospace;
}

a:active {
  background: linear-gradient(to bottom right, #fd9200, #bc43ff);
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
  color: black;
}

@supports (-webkit-touch-callout: none) {
  body {
    /*noinspection CssInvalidPropertyValue*/
    height: -webkit-fill-available;
  }
}

canvas {
  max-width: 100%;
  max-height: 100%;
}